body{
  margin:auto;
  background-color: #CFCFCF;
}
header{
  background-color: #343434;
  height: 200px;
}
footer{
  background-color: #000;
  height: 100px;
  margin: auto;
  width: 80%;
}
.container{
  width:80%;
  margin: auto;
  background-color: #EBEBEB;
  height:1000px;
}
